* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  background: #0a3d85;
  color: rgb(255, 255, 255);
  padding: 15px 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.logo {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  flex: 1;
}

.hamburger {
  font-size: 28px;
  cursor: pointer;
  display: none;
}

#toggle-menu {
  display: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 8px 10px;
}

.nav-links li a:hover {
  background: #555;
  border-radius: 5px;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}

/* Responsive */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background: #333;
    width: 100%;
    position: absolute;
    top: 60px;
    right: 0;
  }

  #toggle-menu:checked ~ .nav-links {
    display: flex;
  }

  .nav-links li {
    text-align: center;
    padding: 10px 0;
  }
}
